html
  head
    base(href=baseUrl)
    title
      block title
        | Authorization Server
      |  - OpenBikeSensor Account

    link(rel="stylesheet", href="semantic-ui/semantic.min.css")

    style.
      body > main > header {
        margin: 16px 0;
      }

  body
    main.ui.container
      header
        nav.ui.menu
          a.item(href=mainFrontendUrl, title="Back to Portal")
            i.icon.arrow.left
          .header.item OpenBikeSensor Account
          .right.menu
            if mainFrontendUrl
            if !user
              a.item(href="login") Login
              a.item(href="register") Register
            if user
              a.item(href="logout") Logout
      div.ui.grid.centered
        div.eight.wide.column
          h2.ui.header
            block title
          block content
