extends layout.pug

block title
  | Register

block content
  form.ui.form(method="post")
    .field
      label(for="username") Username
      input(id="username", name="username")
      p.form-hint At least 3 characters, alphanumerical, must be unique

    .field
      label(for="email") E-Mail Address
      input(id="email", name="email", type="email")

    .field
      label(for="password") Password
      input(id="password", name="password", type="password")

    .field
      label(for="confirmPassword") Confirm Password
      input(id="confirmPassword", name="confirmPassword", type="password")

    if privacyPolicyUrl
      .field
        label Privacy policy

        .ui.checkbox
          input(id="acceptPrivacyPolicy", name="acceptPrivacyPolicy", type="checkbox", value="true")
          label(for="acceptPrivacyPolicy")
            | I have read and understood the
            |
            a(href=privacyPolicyUrl, target="_blank", rel="noreferrer") privacy policy
            |
            | and consent to the use of my data as described therein.

    button.ui.button.primary(type="submit") Register
