extends layout.pug

block title
  | Register

block content
  form.ui.form(method="post")
    .field
      label(for="username") Username
      input(id="username", name="username")
      p.form-hint At least 3 characters, alphanumerical, must be unique

    .field
      label(for="email") E-Mail Address
      input(id="email", name="email", type="email")

    .field
      label(for="password") Password
      input(id="password", name="password", type="password")

    .field
      label(for="confirmPassword") Confirm Password
      input(id="confirmPassword", name="confirmPassword", type="password")

    button.ui.button.primary(type="submit") Register
