extends layout.pug

block title
  | Reset Password

block content
  form.ui.form(method="post")
    input(type="hidden", name="token", value=token)

    .field
      label(for="password") New Password
      input(id="password", name="password", type="password")

    .field
      label(for="confirmPassword") Confirm Password
      input(id="confirmPassword", name="confirmPassword", type="password")

    button.ui.button.primary(type="submit") Set new password
