@import 'styles.less';

.mapContainer {
  height: calc(100vh - @menuHeight);
  background: #f0f0f3;
  position: relative;
  display: flex;
  align-items: stretch;

  &.hasBanner {
    height: calc(100vh - @menuHeight - 50px);
  }
}

.mapSidebar {
  width: 24rem;
  background: white;
  border-right: 1px solid @borderColor;
  padding: 1rem;
}

.map {
  flex: 1 1 0;
  overflow: hidden;
}

.mapInfoBox {
  width: 36rem;
  overflow: auto;
  border-left: 1px solid @borderColor;
  background: white;
  padding: 16px;
}

.copyright {
  color: #888;
  font-size: 0.8em;
  line-height: 1.4;
  margin-block-start: 1em;
}

.mapToolbar {
  position: absolute;
  left: 16px;
  top: 16px;
}

.closeHeader {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}


@media @mobile {
  .mapContainer {
    height: auto;
    min-height: calc(100vh - @menuHeightMobile);
    &.hasBanner {
      height: calc(100vh - @menuHeightMobile - 50px);
    }
    flex-direction: column;
  }

  .map {
    height: 60vh;
  }

  .mapSidebar {
    width: auto;
    height: auto;
  }

  .mapInfoBox {
    width: auto;
    height: auto;
  }
}
