@import 'styles.less';

.mapContainer {
  height: calc(100vh - @menuHeight);
  background: #f0f0f3;
  position: relative;
  display: flex;
  align-items: stretch;

  &.hasBanner {
    height: calc(100vh - @menuHeight - 50px);
  }
}

.mapSidebar {
  width: 24rem;
  background: white;
  border-right: 1px solid @borderColor;
  padding: 1rem;
}

.map {
  flex: 1 1 0;
}

.mapInfoBox {
  position: absolute;
  right: 16px;
  top: 32px;
  max-height: 100%;
  width: 36rem;
  overflow: auto;
}

@media screen and (max-width: 36rem) {
  .mapInfoBox {
    right: 0px;
    left: 0px;
    top: 0px;
    max-width: 36rem;
    width: 100%;
    overflow: auto;
  }
}

.mapToolbar {
  position: absolute;
  left: 16px;
  top: 16px;
}
