@import 'styles.less';

.mapContainer {
  height: calc(100vh - @menuHeight);
  background: #f0f0f3;
  position: relative;
  display: flex;
  align-items: stretch;

  &.hasBanner {
    height: calc(100vh - @menuHeight - 50px);
  }
}

.mapSidebar {
  width: 24rem;
  background: white;
  border-right: 1px solid @borderColor;
  padding: 1rem;
}

.map {
  flex: 1 1 0;
}

.mapInfoBox {
  position: absolute;
  right: 0;
  top: 0;
  max-height: 100%;
  width: 36rem;
  overflow: auto;
  margin: 20px;
}
