extends layout.pug

block title
  | Authorize #{clientTitle}

block content
  p.
    You are about to confirm a login to client #[b= clientTitle]. You have 2
    minutes time for your decision.

  .ui.grid.two.columns
    form.column(method="post", action="authorize/decline")
      button.ui.button.fluid.red(type="submit", class="red") Decline

    form.column(method="post", action="authorize/approve")
      button.ui.button.fluid.green(type="submit", class="green") Approve

