extends layout.pug

block title
  | Reset Password

block content
  form.ui.form(method="post")
    .field
      label(for="email") E-Mail Address
      input(id="email", name="email")

    button.ui.button.primary(type="submit") Send recovery mail
