extends layout.pug

block title
  | Login

block content
  form.ui.form(method="post")
    .field
      label(for="email") E-Mail Address
      input(id="email", name="email")

    .field
      label(for="password") Password
      input(name="password", type="password")

    if badCredentials
      p.ui.negative.message Invalid login credentials, please try again.

    button.ui.button.primary(type="submit", style="margin-right: 2rem") Login
    a.ui(href="forgot-password") I forgot my password
