@import 'styles.scss';

:global(#root) {
  padding-top: 60px;

  display: flex;
  flex-direction: column;
  justify-content: stretch;

  html, body, & {
    min-height: 100%;
  }
}

.footer {
  margin-top: auto;
  min-height: 12rem;
  padding: 2rem 0;

  background: $obsColorB4;
  color: $obsColorW;

  h1, h2, h3, h4, h5, h6 {
    &:global(.ui.header) {
      color: inherit;
    }
  }

  a {
    &, &:hover {
      color: inherit;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

.avatar {
  width: 2.5em;
  height: 2.5em;
  display: inline-block;
  vertical-align: -0.6em;
  border-radius: 100%;

  > img {
    border-radius: 100%;
    width: 100%;
    height: 100%;
  }
}

.headline {
  left: 0;
  top: 0;
  right: 0;
  position: fixed;
  // border-bottom: 1px solid #E0E0E4;
  background: white;
  z-index: 100;
  box-shadow: 0 0 10px -6px black;
}

.pageTitle a {
  font-family: 'Open Sans Condensed';
  font-weight: 600;
  font-size: 18pt;

  &, &:hover {
    color: $obsColorB4;
  }
}

.menu {
  align-items: center;
  justify-content: center;
  color: white;
  flex: 1 0 auto;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: baseline;

    li {
      padding: 1rem;
      display: block;

      a {
        color: #877;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
