@obsColorB4: #114594;
@obsColorG1: #76520e;
@obsColorW: #ffffff;
@obsColorB1: #122037;
@obsColorG6: #efb509;
@obsColorS: #000000;

@primaryColor: @obsColorB4;
@secondaryColor: @obsColorG1;
@borderColor: #e0e0e0;

@fontFamilyDefault: 'Noto Sans', 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen', 'Ubuntu', 'Cantarell',
'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

@menuHeight: 50px;
@menuHeightMobile: 220px;

@mobile: ~'screen and (max-width: 767px)';
@desktop: ~'screen and (min-width: 768px)';
