{
  "cookieSecret": "CHANGEME!!!!!!!!!!!!!!!!!!!!!11",
  "jwtSecret": "CHANGEME???????????????????////",
  "mail": {
    "from": "Sender Name <sender@example.com>",
    "smtp" : {
      "host": "mail.example.com",
      "port": 587,
      "username": "sender@example.com",
      "password": "hunter2"
    }
  }
}
