{
  "cookieSecret": "CHANGEME!!!!!!!!!!!!!!!!!!!!!11",
  "jwtSecret": "CHANGEME???????????????????////",
  "baseUrl": "https://openbikesensor.example.com/",
  "mainFrontendUrl": "https://openbikesensor.example.com/api/",
  "mail": {
    "from": "Sender Name <sender@example.com>",
    "smtp" : {
      "host": "mail.example.com",
      "port": 587,
      "username": "sender@example.com",
      "password": "hunter2"
    }
  },
  "mongodb": {
    "url": "mongodb://user:pass@host/obs",
    "debug": false
  },
  "redisUrl": "redis://localhost",
  "oAuth2Clients": [
    {
      "clientId": "CHANGEME",
      "validRedirectUris": ["https://site.example.com/redirect"],
      "refreshTokenExpirySeconds": 604800,
      "maxScope": "*",
      "title": "OBS Portal"
    },
    {
      "clientId": "CHANGEME",
      "validRedirectUris": ["__LOCAL__"],
      "maxScope": "track.upload",
      "refreshTokenExpirySeconds": 86400000,
      "title": "OpenBikeSensor"
    }
  ],
  "imprintUrl": "https://example.com/imprint",
  "privacyPolicyUrl": "https://example.com/privacy"
}
