-e git+https://github.com/openmaptiles/openmaptiles-tools#egg=openmaptiles-tools
aabbtree>=2.6.2
aiohttp~=3.8.1
alembic~=1.9.4
asyncpg~=0.27.0
coloredlogs>=15.0
geopy>=2.2.0
gpstime==0.8.1
haversine==2.8.0
httpx>=0.17.1
joblib>=1.0.0
jsons==1.6.3
memoization>=0.3.2
motor~=3.1.1
msgpack~=1.0.5
networkx>=3.2.1
numpy==1.26.3
oic~=1.5.0
osmium~=3.6.0
pandas>=2.2.1
psycopg~=3.1.8
pyproj~=3.4.1
pyshp~=2.3.1
python-slugify~=6.1.2
pytz==2023.2
pyyaml~=5.3.1
requests>=2.25.1
sanic-session~=0.8.0
sanic==22.6.2
shapely~=2.0.1
sqlalchemy[asyncio]~=2.0.27
sqlparse~=0.4.3
stream-zip~=0.0.50
transformations>=2024.4.24
tzwhere>=3.0.3
websockets<11
