sanic~=21.12.1
oic~=1.3.0
sanic-session~=0.8.0
sanicargs~=2.1.0
sanic-cors~=1.0.1
python-slugify~=5.0.2
motor~=2.5.1
pyyaml<6
-e git+https://github.com/openmaptiles/openmaptiles-tools#egg=openmaptiles-tools
sqlparse~=0.4.2
sqlalchemy[asyncio]~=1.4.25
asyncpg~=0.24.0
